# Model related
*.mp4
runs_gpu/*
runs/*
datasets/
outputs/

# Dev environment related
.vscode/
.env
.env.*
!.env.example
.DS_Store

# Configuration-related
top_view_crop.json

__pycache__/
*.pyc
yolo11n.pt
